body{
    background-image: url(./transformacion.gif);
    height: auto;
    background-size: auto;
}

h1{
    font-size: 50px;
    font-family: 'Harry Potter', sans-serif;
    color: black;
    text-align: center;
}

.button-inicio{
    background-color: rgba(255, 255, 255, 0.321);
}

.button-boggart{
    background-color: rgba(255, 255, 255, 0.321);
}

.container{
    border: solid 2px;
    background-color: rgba(255, 255, 255, 0.321);
    margin: 5rem;
    padding: 4rem;
    font-family: 'Harry Potter', sans-serif;
}